#root {
    width: 80%;
    height: 80%;
    border-radius: 16px;
    background-color: #3e454c;

    box-sizing: border-box;
    padding: 3rem;
}

.tab {
    display: flex;
    width: 100%;
    min-height: 3rem;
    justify-content: space-between;
}

.info-bar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.tasks-stat {
    margin: 0;
    color: #58b6d2;
    font-size: 16px;
}

.status-bar {
    display: flex;
    width: 12rem;
    box-sizing: border-box;
    padding: 0.5rem;
    align-items: center;
}

.unselected {
    color: #7b7f86;
}

.task-input {
    display: flex;
    width: 100%;
    min-height: 3rem;
    margin: 1rem 0 1rem 0;

    box-sizing: border-box;
    padding: 0 0.5rem 0 0.5rem;
    gap: 0.5rem;
    align-items: center;
}

#task-info-input {
    width: 25em;
    height: 3rem;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;

    padding-left: 1rem;
    font-size: inherit;
}

.task-in-list {
    display: flex;
    min-height: 2rem;

    border-top-style: solid;
    border-width: thin;
    border-color: #7b7f86;

    padding: 0 0.5rem 0 0.5rem;
    align-items: center;
}

.task-in-list:last-child {
    border-bottom-style: solid;
}

.task-info {
    display: flex;
    margin-left: 1rem;
    flex-grow: 1;
}

.checked {
    text-decoration: line-through;
}