#root {
    display: flex;
    box-sizing: border-box;

    margin: 0;
    width: 80%;
    height: 80%;
    padding: 3rem;
    border-radius: 16px;
    background-color: #3e454c;

    font-size: 22px;
    flex-direction: column;
}

.info-bar {
    display: flex;
    height: 64px;
    justify-content: space-between;
}

.info-tab {
    display: flex;
    flex-grow: 1;
    padding: 0.5rem;
    flex-direction: column;
}

.tasks-stat {
    margin: 0;
    color: #58b6d2;
    font-size: 16px;
}

.status-tab {
    display: flex;
    width: 256px;
    padding: 1rem;
    align-items: center;
}

.unselected {
    color: #7b7f86;
}

.task-input {
    display: flex;
    margin: 1rem 0 1rem 0;
    width: 100%;
    height: 3rem;
    padding: 0.5rem;
    gap: 0.5rem;
    align-items: center;
}

#task-info-input {
    width: 25em;
    height: 1.5em;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    padding: 0.5em;
}

button {
    width: 8em;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    padding: 0.5em;
    background-color: #61dbfb;
}

.task-info {
    display: flex;
    height: 2.5rem;
    border-top-style: solid;
    border-width: thin;
    border-color: #7b7f86;
    padding: 0.5rem;
    align-items: center;
}

.task-name {
    display: flex;
    margin-left: 1rem;
    flex-grow: 1;
}

.checked {
    text-decoration: line-through;
}