:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #61dbfb;

    margin: 0;
    justify-content: center;
    align-items: center;
}

button {
    width: 8em;
    height: 3rem;
    border-radius: 5px;
    border: none;
    background-color: #61dbfb;
    
    padding: 0.5em;
    font-size: inherit;
}